<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">



  <title>{{ i18n.__("Pandanite Wallet") }} {{ version }}</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../vendor/fontawesome/css/fontawesome.css" rel="stylesheet">
  <link href="../vendor/fontawesome/css/brands.css" rel="stylesheet">
  <link href="../vendor/fontawesome/css/solid.css" rel="stylesheet">
  <link href="../static/main.css" rel="stylesheet">

</head>

<body>

  <!-- Page Content -->
  <div class="container container2">

{% block body %}{% endblock %}

  </div>
	
  <!-- Bootstrap core JavaScript -->
  <script>//window.$ = window.jQuery = require('jquery');</script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script> 
  
  <script>
    //load in node libraries
    require('../renderer.js')
  </script>

  {% block javascripts %}{% endblock %}
  
</body>

</html>
